{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<main class="main">

  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">

    <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

    <div class="container d-flex flex-column align-items-center text-center">
      <h2 data-aos="fade-up" data-aos-delay="100">Welcome to Truly Kenya Website.</h2>
      <p data-aos="fade-up" data-aos-delay="200">One Nation. One App. Unlimited Possibilities.
      </p>
      <div data-aos="fade-up" data-aos-delay="300">
        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
      </div>
    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About</h2>
      <p>    Welcome to Truly Kenya, the progressive web app that unites all Kenyans on one digital platform.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
     <ul>
            <li style="font-size: 14px;"><i class="bi bi-check2-circle"></i> <span>Truly Kenya is a patriotic and innovative platform uniting all Kenyans locally and abroad.</span></li>
            <li style="font-size: 14px;"><i class="bi bi-check2-circle"></i> <span>It combines social networking, entertainment, education, and commerce in one easy-to-use app.</span></li>
            <li style="font-size: 14px;"><i class="bi bi-check2-circle"></i> <span>Whether in Nairobi or the diaspora, it keeps you connected to the nation's heartbeat.</span></li>
          </ul>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <p>We believe in a Kenya where technology bridges people and opportunities. Truly Kenya was founded with a vision to showcase our country's potential and uplift our communities in the digital age. By providing a one-stop super app for daily life, we aim to break barriers, create opportunities, and celebrate Kenyan culture on a global stage.</p>
            <!-- <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> -->
        </div>

      </div>

    </div>

  </section><!-- /About Section -->

  <!-- Services Section -->
  <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>From social media to shopping, Truly Kenya has it all. Explore our core modules, each accessible through the Truly Kenya app:
      </p>
      
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6  mb-5" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Truly Kenya Digital</h3>
            </a>
            <p class="mb-3">A social content platform for sharing, monetization, and community rewards.</p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> 
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6  mb-5" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Satellite WiFi</h3>
            </a>
            <p class="mb-3">Nationwide internet connectivity service with easy subscriptions and management.
            </p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> 
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6  mb-5" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-music-note"></i>

              
            </div>
            <a href="#" class="stretched-link">
              <h3>Truly Kenya Music</h3>
            </a>
            <p class="mb-3">A music streaming app for Kenyan and global tunes, supporting local artists.</p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> 
          </div>
        </div><!-- End Service Item -->
</div>
<div class="row ">
        <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>Truly Kenya Movies</h3>
            </a>
            <p class="mb-3">A video streaming service featuring Kenyan films, series, and international content.
            </p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> 
          
          </div>
        </div><!-- End Service Item -->
        <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-controller"></i>

          
            </div>
            <a href="#" class="stretched-link">
              <h3>Truly Kenya Gaming</h3>
            </a>
            <p class="mb-3">An online gaming hub for playing, streaming, and competing in games.
            </p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> 
          </div>
        </div><!-- End Service Item -->
      
        <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-laptop"></i>
            </div>
            <a href="#" class="stretched-link">
              <h3>eLearning Portal</h3>
            </a>
            <p class="mb-3">An educational platform for online courses, tutoring, and skill development.
            </p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> 
          </div>
        </div><!-- End Service Item -->
</div>

<div class="row">
  <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
    <div class="service-item position-relative">
      <div class="icon">
        <i class="bi bi-ticket"></i>
      </div>
      <a href="#" class="stretched-link">
        <h3>Lottery App</h3>
      </a>
      <p class="mb-3">A digital lottery for easy, secure participation in draws and raffles.</p>
      <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> 
    </div>
  </div><!-- End Service Item -->
  <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800">
    <div class="service-item position-relative">
      <div class="icon">
        <i class="bi bi-globe"></i>
      </div>
      <a href="#" class="stretched-link">
        <h3>Virtual Tours</h3>
      </a>
      <p class="mb-3">Immersive virtual safaris and tours of Kenyan parks and landmarks.

      </p>
      <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> 
    </div>
  </div><!-- End Service Item -->
<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="900">
  <div class="service-item position-relative">
    <div class="icon">
      <i class="bi bi-cart"></i>
    </div>
    <a href="#" class="stretched-link">
      <h3>eCommerce Platform</h3>
    </a>
    <p class="mb-3">An online marketplace for shopping Kenyan products and services.</p>
    <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a> 
  </div>
</div></div>

    </div>

  </section><!-- /Services Section -->

  <!-- Call To Action Section -->
  <section id="call-to-action" class="call-to-action section dark-background">

    <img src="{% static 'assets/img/cta-bg.jpg' %}" alt="">

    <div class="container">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-9 text-center text-xl-start">
          <h3>Call To Action</h3>
          <p >Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xl-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Call To Action</a>
        </div>
      </div>

    </div>

  </section><!-- /Call To Action Section -->

  <!-- Features Section 
  <section id="features" class="features section">

    <div class="container">

      <div class="row gy-4">

        <div class="features-image col-lg-6 order-lg-2" data-aos="fade-up" data-aos-delay="100"><img src="{% static 'assets/img/features-bg.jpg" alt=""></div>

        <div class="col-lg-6 order-lg-1">

          <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-archive flex-shrink-0"></i>
            <div>
              <h4>Est labore ad</h4>
              <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
            </div>
          </div>

          <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-basket flex-shrink-0"></i>
            <div>
              <h4>Harum esse qui</h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
            </div>
          </div>

          <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-broadcast flex-shrink-0"></i>
            <div>
              <h4>Aut occaecati</h4>
              <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
            </div>
          </div>

          <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-camera-reels flex-shrink-0"></i>
            <div>
              <h4>Beatae veritatis</h4>
              <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
            </div>
          </div>-->

        </div>

      </div>

    </div>

  </section><!-- /Features Section -->

  <!-- Clients Section -->
  <section id="clients" class="clients section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row g-0 clients-wrap">

        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'assets/img/clients/client-7.png' %}" class="img-fluid" alt="">
        </div><!-- End Client Item -->

        <div class="col-xl-3 col-md-4 client-logo">
          <img src="{% static 'assets/img/clients/client-8.png' %}" class="img-fluid" alt="">
        </div><!-- End Client Item -->

      </div>

    </div>

  </section><!-- /Clients Section -->

  <!-- Stats Section -->
  <section id="stats" class="stats section dark-background">

    <img src="{% static 'assets/img/stats-bg.jpg' %}" alt="" data-aos="fade-in">

    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

      <div class="subheading">
        <h3>What we have achieved so far</h3>
        <p>Iusto et labore modi qui sapiente xpedita tempora et aut non ipsum consequatur illo.</p>
      </div>

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
            <p>Workers</p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>

  </section><!-- /Stats Section -->

  <!-- Portfolio Section -->
  <section id="mission" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <div class="row">
       
        <div class="col-md-4">
      <h2>Mission</h2>
      <img src="{% static 'assets/img/mission.jpg' %}" class="img-fluid rounded" alt="">
    </div>
   
    <div class="col-md-8 ">
    
      <p class="fs-5 mt-5" style="margin-top: 90px !important;">Provide a unifying digital experience that empowers Kenyans to connect, create, learn, and prosper together – fostering community, creativity, and economic opportunity on a platform that truly represents Kenya</p>
    </div>
    </div> </div><!-- End Section Title -->

   

  </section><!-- /Portfolio Section -->

   <!-- Portfolio Section -->
   <section id="vision" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div class="row">
          
      <div class="col-md-8 ">
        <h2>Vision</h2>
        <p class="fs-5 "> A digitally inclusive Kenya where every person – at home or abroad – can access all they need through one trusted platform, uniting the nation and uplifting lives through shared innovation.
        </p>
      </div>
          <div class="col-md-4 mt-3">
       
        <img src="{% static 'assets/img/vision.jpg' %}" class="img-fluid rounded" alt="">
      </div>
    
      </div> </div><!-- End Section Title -->

  </section><!-- /Portfolio Section -->



  <!-- Faq Section -->
  <section id="faq" class="faq section mt-5">

    <div class="container-fluid">

      <div class="row gy-4">

        <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

          <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
            <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
            </p>
          </div>

          <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">

            <div class="faq-item faq-active">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>Non consectetur a erat nam at lectus urna duis?</h3>
              <div class="faq-content">
                <p>Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?</h3>
              <div class="faq-content">
                <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

            <div class="faq-item">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>Dolor sit amet consectetur adipiscing elit pellentesque?</h3>
              <div class="faq-content">
                <p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right"></i>
            </div><!-- End Faq item-->

          </div>

        </div>

        <div class="col-lg-5 order-1 order-lg-2">
          <img src="{% static 'assets/img/faq.jpg' %}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
        </div>
      </div>

    </div>

  </section><!-- /Faq Section -->

  <!-- Recent Posts Section -->
  <section id="recent-posts" class="recent-posts section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Recent Blog Posts</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <article>

            <div class="post-img">
              <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
            </div>

            <p class="post-category">Politics</p>

            <h2 class="title">
              <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{% static 'assets/img/blog/blog-author.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">Maria Doe</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Jan 1, 2022</time>
                </p>
              </div>
            </div>

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <article>

            <div class="post-img">
              <img src="{% static 'assets/img/blog/blog-2.jpg' %}" alt="" class="img-fluid">
            </div>

            <p class="post-category">Sports</p>

            <h2 class="title">
              <a href="blog-details.html">Nisi magni odit consequatur autem nulla dolorem</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{% static 'assets/img/blog/blog-author-2.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">Allisa Mayer</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Jun 5, 2022</time>
                </p>
              </div>
            </div>

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <article>

            <div class="post-img">
              <img src="{% static 'assets/img/blog/blog-3.jpg' %}" alt="" class="img-fluid">
            </div>

            <p class="post-category">Entertainment</p>

            <h2 class="title">
              <a href="blog-details.html">Possimus soluta ut id suscipit ea ut in quo quia et soluta</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="{% static 'assets/img/blog/blog-author-3.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">Mark Dower</p>
                <p class="post-date">
                  <time datetime="2022-01-01">Jun 22, 2022</time>
                </p>
              </div>
            </div>

          </article>
        </div><!-- End post list item -->

      </div><!-- End recent posts list -->

    </div>

  </section><!-- /Recent Posts Section -->

  <!-- Contact Section -->
  <section id="contact" class="contact section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-4">
          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h3>Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55</p>
            </div>
          </div><!-- End Info Item -->

          <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p>info@example.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="col-lg-8">
          <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
              </div>

              <div class="col-md-6 ">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
              </div>

              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
              </div>

              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
              </div>

              <div class="col-md-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
              </div>

            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->

</main>
{% endblock %}